*{margin: 0px; padding: 0px}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
body {
  font-family: "Lato", sans-serif; font-size: 14px;
  color: rgba(0,0,0,0.8);
  overflow-x: hidden;
}

button{text-transform: capitalize !important;}
.cursor{cursor: pointer}
.text-light { color: #ccc !important;}
.bg-blue{background :#7a55c1;}
.text-sml{font-size: 14px;}
@Media (min-width: 1300px)
{
  .container, .container-lg, .container-md, .container-sm, .container-x1{
    max-width: 1200px;
  }
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
::-webkit-scrollbar-track{
  background: transparent !important;
}

.badge {
  display: inline-block;
  padding: 7px 10px;
  border-radius: 20px;
}
.badge.bg-success{
  background: #e5f8ed !important;
  color: #16b858 !important;
}

.btn-blue{
  background: #7a55c1 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}
.btn-big{
  font-size: 15px !important;
  padding:px 20px !important;
}
.btn-round{
  border-radius: 30px !important;
}


.btn-sml{
  font-size: 13 !important;
  color: #000;
  text-transform: capitalize !important;
}
.btn-sml{ font-size: 20px;}
.btn-circle{
  border-radius: 50% !important;
  min-width: auto !important;
}



.container{ max-width: 85%;}


/*  */
.headerWrapper .top-strip { padding: 8px 0px; }
.headerWrapper .bg-blue  p{
  color: #fff; 
  font-size: 12px; 
  font-weight: 500;
}

.headerWrapper{
  background-color: #fefff0;
  border: 1px solid rgba(0,0,0,0.2);
}
.headerWrapper .header{
  width: 100%;
  height: auto;
  padding :15px 0px;
}

.logoWrapper img{
  width: 100%;
  height: 80px;
  
}

.headerWrapper .header .part2 .countryDrop{
  width:150px;
  height: 60px;
  min-width: 150px;
  text-align: left;
  justify-content: flex-start !important;
  color: #000 !important;
  border: 1px solid rgba(0,0,0,0.1)  !important;
  border-radius: 7px !important;
  padding : 10px 20px !important;
  right:10px;
  background-color: #f1f1f1;
  
}
.headerWrapper .header .part2 .countryDrop .lable{
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0,0,0,0.4) !important;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.m1-auto svg{
  opacity: 0.7;
}

.headerSearch{
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding:10px;
  position: relative;
  border-radius: 10px ;
  border: 1px solid rgba(0,0,0,0.1) !important; 
}
.headerSearch input{
  background: transparent !important;
  outline: none !important;
  font-size:14px ;
  color: rgba(0,0,0,0.8);
  width: 100%;
  height: 40px;
  border: 0px !important;
  padding: 0 20px !important;
  
}
.headerSearch input ::-webkit-input-placeholder{
  color: rgba(0,0,0,0.6);
}

.headerSearch button{
  position: absolute;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}
.headerSearch button svg{
  font-size: 30px;
  opacity: 0.8s;
}


.header .part3 .account{
  align-items: center;
  justify-content: center;
  color: #7a55c1;
  border-radius: 20px;
}
.header .part3 .account svg{
  font-size: 25px;
  color: #7a55c1;
}
.header .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  
}
.header .part3 .circle svg{
  font-size: 17px;
}
/* .cartTab .price{
  font-size: 18px;
  color: rgba(0,0,0,0.9) ;
  font-weight: 700;
} */

.cartTab button svg {
  color: #ea2b0f !important;
}
.cartTab .count {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ea2b0f ;
  border-radius: 50%;
  color: #fff;
  width: 15px;
  height: 15px;
}

nav .allCatTab{
  background: #7a55c1;
  padding: 8px 20px !important;
  border-radius: 30px !important;
 
}
nav .allCatTab *{
  color: #fff;

}
nav .allCatTab .text{
  font-weight: 600;
}

nav .allCatTab .icon1 svg{
  font-size: 20px !important;
}
nav .allCatTab .icon2 svg{
  font-size: 15px !important;
}

nav .navPart1 {max-width: 20%; flex: 0 0 20%;}
nav .navPart2 {max-width: 80%; flex: 0 0 80%;}

nav .navPart1 .catWrapper{position: relative;}
nav .navPart1 .catWrapper .sidebarNav{
  width: 100%;
  height: 0;
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 15px 0;
  margin-top: 25px ;
  
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}

nav .navPart1 .catWrapper .sidebarNav.open{
  height: auto;
  opacity: 1;
  visibility: inherit;
}
nav .navPart1 .catWrapper .sidebarNav ul li{
  width: 100%;
  list-style: none;
  padding: 0 15px;
  position: static;
}
nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
  position: absolute;
  top: 0;
  left: 102%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
  border-left: 1px solid rgba(0,0,0,0.4);
  padding-top: 13px ;
}
nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  left: 100%;
  
}

nav .navPart1 .catWrapper .sidebarNav ul li button{
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}
nav .navPart1 .catWrapper .sidebarNav ul li button svg{
  font-size: 16px;
  opacity: 0.6;
}
nav .navPart1 .catWrapper .sidebarNav ul li button:hover{
 
  color: #7a55c1;
}

nav .navPart2 ul{  margin-bottom: 0px;}
nav .navPart2 ul li a{
  text-decoration: none;
}

nav .navPart2 ul li button{
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  
}
nav .navPart2 ul li a svg{
  font-size: 20px;
}
nav .navPart2 ul li a button:hover{
    background: #f0f1f6;
    color: #09aced;
}
nav .navPart2 ul li{
  position: relative;
  padding-bottom: 20px;
}
nav .navPart2 ul li .submenu{
  position: absolute;
  top: 100%;
  left: 0px ;
  min-width: 200px;
  background: #f8fafd;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 100;
}
nav .navPart2 ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  top: 100%;
}

nav .navPart2 ul li .submenu a{
  display: block;
}
nav .navPart2 ul li .submenu a button{
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0 !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}
nav .navPart2 ul li .submenu a button:hover{
  background: #f1f1f1 !important;
}

.locationModel .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}
.locationModel .countryList{
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.locationModel .countryList li{
  width: 100%;
  list-style: none;
}
.locationModel .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 15px 15px !important;
}
.locationModel .countryList li button:hover{
  background: #f1f1f1;
}
.locationModel .countryList li button.active{
  background: #e2e2e2 !important;
}

.close_{
  position: absolute !important;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%  !important;
}
.close_ svg{
  font-size: 22px;
}

.homeBanner{ 
  padding: 10px 130px;
}
.homeBannerSection{
  position: relative;
  overflow: hidden;
}
.homeBannerSection *{
  outline: none  !important;
}
.homeBannerSection .slick-arrow{
  position: absolute;
  top: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  background: #ffffff;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 /12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}
.homeBannerSection .slick-arrow.slick-next{
  right: 20px !important;
}
.homeBannerSection .slick-arrow.slick-prev{
  left: 20px !important;
}

.slick-next:before, .slick-prev:before {
  color: #000000 !important;
  font-family: FontAwesome !important;
  opacity: 0.8;
}

.slick-next::before{
  content: "\f105" !important;
}
.slick-prev::before{
  content: "\f104" !important;
}

.homeBannerSection {
  cursor: pointer;
}

.homeProducts{
  padding:  25px 0;
  width: 100%;
}
.homeProducts .banner{
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.hd{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase  ;
}
.viewAllBtn{
  padding: 5px 15px !important;
  background: #fff !important;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 30px !important;
  color: #000 !important;
  font-weight: 600;
  text-transform: capitalize !important;
}
.viewAllBtn svg{
  font-size: 12px;
}

.productItem{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1) ;
  cursor: pointer;
  position:relative; 
}
.productItem .info h4{
  font-size: 15px;
  font-weight: 600;
}
.productItem .info{
  padding: 15px;
}
.info .oldPrice{
  font-weight:bold ;
  color: rgba(0,0,0,0.4);
  text-decoration: line-through;
  font-size: 17px !important;
}
.info .oldPrice.lg{ font-size: 20px;}
.info .netPrice.lg{ font-size: 16px;}
.info .netPrice{
  font-size: 18px !important ;
  font-weight:bold ;
  color: rgba(240, 2, 2, 0.4);
  
}
.productItem .badge{
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
.productItem .actions{
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  
}
.productItem .actions button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px  !important;
  width: 40px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  border-radius: 50% !important;
  background:  #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 /12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  transition: all 0.0s !important ;
 
}
.productItem .actions button svg{
  color: #000 !important;
  opacity: 0.7;
  pointer-events:  none;
  font-size: 19px ;
}
.productItem .actions button:hover{
  background: #7a55c1;
}
.productItem .actions button:hover svg{
  color: #fff !important;
}
.productItem .imgWrapper{
  overflow: hidden;
}
.productItem .imgWrapper img{
  transition: all 0.3s ease-in-out;
}
.productItem .imgWrapper:hover img{
  transform: scale(1.1);
}
.productItem .imgWrapper:hover .actions{
 opacity: 1;
 right: 10px; 

}
.badge-primary{
  background:  #2bbef9 !important;
}

.swiper{
  padding-right: 1px !important ;
}
/* .product_row .swiper{
  padding-right: 80px !important;
} */
.product_row .item{
  border-right: 1px solid transparent;
}
.product_row .swiper-slide:last-child .productItem{
  border:  1px solid rgba(0,0,0,0.1) !important;
}
.product_row .swiper-button-prev{
  left: 2px !important;
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
  width: 35px; 
  height: 35px;
}
.product_row .swiper-button-next{
  right: 2px !important;
  color: #ffffff; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
  width: 35px; 
  height: 35px; 
}
.product_row .swiper-button-prev::after, .product_row .swiper-button-next::after{
  font-size: 25px;
}

.homeCat{ padding: 35px 0px; overflow: hidden;}
.homeCat .swiper .item{
  padding: 15px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.homeCat .swiper {overflow: inherit !important;}
.homeCat .swiper .item img{
  width: 80%;
}

.homeCat .swiper-button-next,.homeCat .swiper-button-prev{
  top: -20% !important;
  width: 30px !important;
  height: 30px !important;
  color: #000000 !important;
  background: rgba(0,0,0,0.1);
  border-radius: 50% ;
}
.homeCat .swiper-button-prev{
  right: 68px !important;
  left: inherit !important;
}
.homeCat .swiper-button-prev::after,.homeCat .swiper-button-next::after{
  font-size: 12px !important;
}
.productRow2{
  flex-wrap: wrap;
  gap: 10px;
}
.productRow2 .productItem{
  width: 24%;
  overflow: hidden;
  border-right: 1px solid rgba(0,0,0,0.1) !important;
}
.bannerSec{
  gap: 15px;
}
.sticky{
  position: sticky;
  top: 10px;
  z-index: 100;
}

.newsLetterSection{
  width: 100%;
  height: 250px;
  
  position: relative;
  overflow: hidden;
  padding: 70px 0;
  background-image: linear-gradient( to bottom right, #9e86c9, #724abc);
}
.newsLetterSection p{
  font-size: 18px;
  margin: 10px 0 !important;
}
.newsLetterSection h4{
  font-size: 30px;
  font-weight: bold;
}
.newsLetterSection p.text-light{
  color: #fff !important;
  opacity: 0.5;
  font-size: 15px;
}
.newsLetterSection .col-md-6{
  position: static !important;
}
.newsLetterSection img{
  position: absolute;
  bottom: 0px;
  right: 160px;
  width: 450px;
}

.newsLetterSection form{
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}
.newsLetterSection form svg{
  position: absolute;
  top: 17px;
  left: 10px;
  opacity: 0.3;
  font-size: 25px;
}
.newsLetterSection form input{
  width: 100%;
  height: 40px;
  background-color: #fff !important;
  outline: none !important;
  border: 0 !important;
  padding-left: 35px;
  padding-right: 200px;
}
.newsLetterSection form button{
  position: absolute;
  top: 6px;
  right: 7px;
  background: #233a95 !important;
  font-size: 14px !important;
  padding: 12px 25px;
  color: #fff !important;
  text-transform: capitalize !important;
  font-weight: 600;

}

footer {
  width: 100%;
  height: 500px;
  margin: auto;
  background: #fff;
  padding: 25px 0;
}

/* footer .topInfo{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 20px;
} */
footer .topInfo .col{
  padding: 10px 15px;
  border-right: 1px solid rgba(0,0,0,0.2);
  padding-left: 40px;
}
footer .topInfo .col:last-child{
  border-right: none;
}
footer .topInfo .col svg{
  font-size: 25px;
}
footer .topInfo .col span{
  font-size: 14px;
  font-weight: 600;
}

footer .linksWrap h5{
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 600;
}
footer .linksWrap h6{
  font-weight: bold;
  color: rgb(128, 128, 137);
}
footer .linksWrap ul li {
  list-style: none;
  margin-bottom: 10px;
  color: rgb(128, 128, 137);
  font-size: 13px;
}
footer .linksWrap ul li a{
  color: rgb(128, 128, 137);
  font-size: 13px;
}
footer .linksWrap ul li a:hover{
  text-decoration: none;
}
footer .linksWrap ul .facebook svg{
  color:rgb(69,97,157) ;
  font-size: 30px; 
  margin-right: 15px;
}
footer .linksWrap ul .youtube svg{
  color: rgb(255,0,0);
  font-size: 30px;
  margin-right: 15px;
}
footer .linksWrap ul .zalo svg{
  color: rgb(49,113,246);
  font-size: 30px;
}



.productModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
  max-width: 900px !important;
  width: 900px;
}
.productModal h4{
  font-size: 22px !important;
  color: rgba(0,0,0,0.6) !important;
}

.productZoom{ 
  width: 100%;
  height: auto;
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}
.productZoom .badge{
  position: absolute;
  top: 20px;
  left: 70px;
  z-index: 100;
}

.productDetails .productDZoom .badge{left: 90px;}
.zoomSliderBig{ width: 70% !important;}
.zoomSlider{padding-top: 30px ;}
.zoomSlider .slick-slide {
  padding-right: 20px !important;
}
.zoomSlider *{outline :none !important;}
.zoomSlider .item{ 
  border: 2px solid transparent !important;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}
.zoomSlider .slick-current .item{
  border: 2px solid #3bb77e !important;
}
.zoomSlider .slick-arrow{
  top: 55% !important;
  zoom: 80% !important;
}
.zoomSlider .slick-arrow.slick-next{ right: -2px !important;}
.zoomSlider .slick-arrow.slick-prev{ left: -5% !important;}

.quantityDrop{
  width: 150px;
   gap: 10px;
}
.quantityDrop button {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #edeef5 !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  color: #000;
}
.quantityDrop button svg{
  color: #000 !important;
}
.quantityDrop input{
  width: 30px;
  border: 0px;
  background: transparent;
  outline: none !important;
  text-align: center;
}

.productModal .actions button{
  color: #000 !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  font-size: 10px !important;
}
.productModal .actions button svg{
  font-size: 15px !important;
}

/* Page Listing */

.product_Listing_Page{padding: 35px 0;}
.product_Listing_Page .productListing{
  gap: 20px;
}
.product_Listing_Page .productListing .sidebar{
  width: 20%;
  flex: 0 0 20%;
}
/* .product_Listing_Page .productListing .sidebar .sticky{
  position: sticky;
} */
.product_Listing_Page .productListing .sidebar .filterBox h6{
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}
.product_Listing_Page .productListing .sidebar .filterBox{
  margin-bottom: 35px ;
}
.product_Listing_Page .productListing .sidebar .scroll ul{ margin-bottom: 0;}
.product_Listing_Page .productListing .sidebar .scroll ul li{
  list-style:  none;
  margin-bottom: 0px;
  width: 100% ;
}
.product_Listing_Page .productListing .sidebar .scroll::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
}
.product_Listing_Page .productListing .sidebar .scroll{
  padding-left: 10px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root{
  padding: 2px !important;
}


.range-slider{
  height: 5px !important;
}
.range-slider .range-slider__thumb, .range-slider__range{
  background: #7a55c1 !important;
  
}
.range-slider .range-slider__thumb{
  width: 15px !important;
  height: 15px !important;
}

/*content right*/
.product_Listing_Page .productListing .content_right .showBy{
  width: 100%;
  height: 50px;
  background: #f7f8fd;
  padding: 15px 25px;
}
.product_Listing_Page .productListing .content_right {
  width:78%;
  flex: 0 0 78%;
  padding-left: 50px;

}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button{
  min-width: 30px !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button svg{
  color: #000;
  font-size: 18px !important;
  opacity: 0.3;
}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button svg:hover{
  opacity: 1;
}
.product_Listing_Page .productListing .content_right .showBy .btnWrapper button.act svg{
  opacity: 1 !important;
}

.showByFilter button{
  min-width: auto !important;
  color: #000 !important;

}
.showByFilter button.act{
  color: #000;
}
.showByFilter button svg{
  color: #000;
  opacity: 0.6;
  margin-left: 5px;
}
.showPerPageDropdown .MuiPaper-root {
  width: 80px !important;
}

.productListing {
  gap: 12px !important;
  display: flex;
  
  flex-wrap: wrap;
}
.productListing .productItem.four{
  width: 24%;
}
.productListing .productItem.three{
  width: 32.4%;
}

/* Product details Page*/
.section {
  padding : 45px 0px;
}
.productDetails h2.hd{
  font-size:  26px;
}
.productDetails h3.hd{
  font-size:  22px;
}
.productDetails .productDZoom .oldPrice{
  font-size :20px;
  text-decoration: line-through;
}
.productDetails .productDZoom .netPrice{
  font-size :22px;
}

.badge-success{
  color: #00b853;
  background: #e5f8ed ;
}

.productSize {
  width: 100%;
  height: auto;
  padding: 25px 0;
}
.productSize ul li{
  margin-right: 10px !important;
}
.productSize ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px !important;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px !important;
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
  font-size: 14px;
  transition: all 0.1s ease-in-out;

}
.productSize ul li a:hover{
  background: #aaaaaa;
}

.productSize ul li a.active{
  background: #7a55c1 !important;
  color: #Fff !important;
}

.productDetails .btn-circle {
  min-width: 40px !important;
  width: 40px  !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #edeef5 !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  color: #000;
  padding: 5px !important;
}
.productDetails ,.btn-circle svg{
  color: #000 !important;
  opacity: 0.8;
}

.detailsPageTabs{
  border-radius: 25px !important;
  background: #f1f1f1;
}
.detailsPageTabs .table th,.detailsPageTabs .table td{
  vertical-align: middle;
  font-size: 14px ;
}
.detailsPageTabs .tabContent .table td p{
  margin-bottom: 0px;
}
.customTabs ul li{ margin-right: 30px !important;}
.customTabs ul li button {
  padding: 10px 25px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  border-radius: 30px !important;
  color: #000 !important;
}
.customTabs ul li button.active{
  background: #7a55c1 !important;
  color: #fff !important;
}

.reviewsCard{margin-bottom: 25px !important;}

.reviewsCard .image{width: 100px;}
.reviewsCard .rounded-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;

}
.reviewsCard .rounded-circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviewsCard .info{width: 85%;}


.reviewForm h4{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}
.reviewForm .form-group{
  margin-bottom: 25px;

}
.reviewForm .form-group .form-control{
  height: 50px;
  font-size: 20px;
  border-radius: 7px !important ;
  padding-left: 20px;
}
.reviewForm .form-group textarea.form-control{
  height: 200px;
  padding-top: 25px;
}


/*   CART PAGE  */

.cartPage .table thead{
  background: #e3e3e3 !important;
 
  overflow: hidden;
}

.cartPage .table thead th{
  border: 1px !important;
}
.cartPage .table thead th:first-child{
border-top-left-radius: 10px !important;
border-bottom-left-radius: 15px !important;
}
.cartPage .table thead th:last-child{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 15px !important;
}
a:hover{
  text-decoration: none;
}
.CartItemimgWrapper .imgWrapper{
  width: 75px;
  overflow: hidden;
  object-fit: cover;
}
.CartItemimgWrapper .info a:hover{
  text-decoration: none;
}
.CartItemimgWrapper .info h6{
color:#343434;
font-weight: bold;
}
.CartItemimgWrapper{
  width: 320px;
}
.CartItemimgWrapper .info h6:hover{
  color:#ed174a !important;
}
.remove{
  cursor: pointer;
}
.remove .svg{
  font-size: 30px;
}
.remove:hover svg{
  color:#ed174a !important;
}
.table tbody tr {
  border-bottom: 1px solid #000;
 
}

.table tbody tr:last-child {
  border-bottom: none; /* Không thêm gạch dưới cho dòng cuối cùng */
}
.cartPage .quantityDrop button{
  zoom:75%;
}
.cartPage table th, .cartPage table td{
  vertical-align: middle;
}
.cartPage .table td, .cartPage .table th{
  border-bottom: 1px solid rgba(0, 0, 0, 2) !important;
}
.cartPage table tbody tr:hover{
  background: #fafafa;
}
.cartDetails{
 /*border:0px !important;*/
  border-radius: 7px !important;
  position: sticky;
}
.cartDetails h4{
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0,0,0,1);

}
.text-red{
  color: #ed174a !important;;
}
.text-blue{
  color :#53348c!important;
}
.btn-blue svg{  
  font-size: 22px;
}

/**/
.signInPage {
  width: 100% ;
  height: 100vh;
  position:relative;
}
.signInPage .shape-bottom{
  position: absolute;
  top: auto;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: 1;
}
.signInPage::after{
  position: absolute;
  content:  '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(#c9c8e3, #a4ace6);
  opacity: 0.9;
  z-index: -1;
}
.signInPage .box {
  width: 450px;
  height: 580px;
  background: #fff;
  margin: auto;
  position: relative;
  z-index: 100;
  border-radius: 10px !important;
}
.signInPage .box h2{
  font-size: 25px;
  font-weight: 600;


}
.signInPage .box form{
  padding: 20px 30px;
}
.signInPage .box .form-group{
  margin-bottom: 20px;
}
.signInPage .box .txt{
  font-size: 14px;
  font-weight: bold !important;
  color: rgba(0,0,0,0.8) !important;
}
.loginWithGoogle{width: 100%;}
.loginWithGoogle img{
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.border-effect{
  position: relative;
  color: #337ab7;
  text-decoration: none;
}
.border-effect:after{
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #102a44;
  content: "";
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;

}
.border-effect:hover{
  text-decoration: none;
  color: #000;

}
.border-effect:hover:after{
  width: 100%;
}

.signUpPage .box{
  width: 500px;
  height: auto;
}

